git+git://github.com/inducer/pymbolic
git+git://github.com/inducer/cgen
git+git://github.com/sympy/sympy
git+git://github.com/pyopencl/pyopencl
git+git://github.com/inducer/islpy
git+git://github.com/inducer/loopy

